:root {
	--md-primary-fg-color: #ebc810;
	--md-primary-fg-color--light: #000000;
	--md-primary-fg-color--dark: #ff0000;
	--md-primary-bg-color: #000000;
	--md-accent-fg-color: #ff0000;
}

h1 {
	font-size: 72px !important;
	font-family: 'Papyrus';
	text-align: center;
	margin-bottom: 0em !important;
}

h2 {
	font-size: 38px !important;
	text-align: center;
	margin-top: 0em !important;
	font-family: 'Papyrus';
	font-weight: bolder !important;
}

h3 {
	text-align: center;
	font-family: 'Papyrus';
}

p {
	font-size: 24px;
	font-family: 'Papyrus';
}

.centertext {
	text-align: center;
}

#countdowntimer {
	color: red !important;
	text-align: center !important;
	font-size: 2.5rem !important;
}

.responsiveImage {
	width: 45% !important;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.iframe-container {
	text-align: center;
	width: 100%;
}

#linktoform {
	color: red;
}

#linktoform:hover {
	color: #ebc810;
}

.card {
	background-color: #ebc810;
	color: black;
	padding: 1rem;
	/* display: flex;
	flex-direction: column; */
}

.card-image {
	max-width: 100%;
	height: auto !important;
}

.card-info {
	background-color: red;
	font-size: 1.5em;
	text-align: center;
	padding: 0.25em;
}

.cards {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@media screen and (max-width: 500px) {
	#countdowntimer {
		max-width: 100% !important;
		font-size: 1.5rem !important;
	}
	.responsiveImage {
	}
	h1 {
		font-size: 50px !important;
	}
	p {
		font-size: 18px;
	}
	h2 {
		font-size: 28px !important;
	}
}
