:root {
	--md-primary-fg-color: #ebc810;
	--md-primary-fg-color--light: #000000;
	--md-primary-fg-color--dark: #ff0000;
	--md-primary-bg-color: #000000;
	--md-accent-fg-color: #ff0000;
}

h1 {
	font-size: 72px !important;
	font-family: 'Papyrus';
	text-align: center;
	margin-bottom: 0em !important;
}

h2 {
	font-size: 38px !important;
	text-align: center;
	margin-top: 0em !important;
	font-family: 'Papyrus';
	font-weight: bolder !important;
}

h3 {
	text-align: center;
	font-family: 'Papyrus';
}

p {
	font-size: 24px;
	font-family: 'Papyrus';
}

.center-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.centertext {
	text-align: center;
}

#countdowntimer {
	color: red !important;
	text-align: center !important;
	font-size: 2.5rem !important;
}

.responsiveImage {
	width: 40% !important;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.iframe-container {
	text-align: center;
	width: 100%;
}

#linktoform {
	color: red;
	text-align: center !important;
}

#linktoform:hover {
	color: #ebc810;
}

.cards {
	margin: 0 auto;
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-auto-rows: auto;
	gap: 20px;
	padding: 30px;
}

.cards * {
	box-sizing: border-box;
}

.card:nth-child(7) {
	max-width: 400px;
	max-height: auto;
	justify-self: center !important;
}

.card-image {
	width: 100%;
	height: auto;
	display: block;
	border-top: 2px solid #333333;
	border-right: 2px solid #333333;
	border-left: 2px solid #333333;
}

.card-info {
	text-align: center;
	font-family: 'Papyrus';
	font-size: 2em;
	justify-content: space-between;
	align-items: center;
	color: black;
	border-bottom: 2px solid #333333;
	border-right: 2px solid #333333;
	border-left: 2px solid #333333;
}

#pinkpanthers {
	background: pink;
}

#fallenblades {
	background: orange;
}

#greenteam {
	background: green;
}

#honeybadgers {
	background: purple;
}

#stormteam {
	background: grey;
}

#blueteam {
	background: blue;
}

#teamchoas {
	background: red;
}

#applicationbttn {
	font-family: 'Papyrus';
	font-size: 1rem;
	background: red;
	color: whitesmoke;
	padding: 10px;
	border: 2px solid #ebc810;
	border-radius: 8px;
	word-wrap: break-word !important;
}
#applicationbttn:hover {
	background-color: #ebc810;
	border: 2px solid red;
	color: black;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

.flex-container > * {
	flex: 1 1 250px;
	border-style: solid;
	margin: 0.25em;
	border-color: #f00000;
}

.flex-container img .flex-item {
	max-width: 35% !important;
	height: auto;
}

@media screen and (max-width: 500px) {
	#countdowntimer {
		max-width: 100% !important;
		font-size: 1.5rem !important;
	}
	h1 {
		font-size: 50px !important;
	}
	p {
		font-size: 18px;
	}
	h2 {
		font-size: 28px !important;
	}
	#applicationbttn {
		font-size: 0.6rem;
		max-width: 100% !important;
		border: 2px solid #f00000;
		border-radius: 8px;
	}

	/* .cards * {
		width: 300px;
		height: auto;
	}

	.cards div .card-image {
		max-width: 300px;
		max-height: 224px;
	} */
}

@media screen and (min-width: 700px) {
	.cards div:nth-child(7) {
		grid-column-end: span 2;
	}
	#teamfat {
		grid-column-end: span 2;
	}
}
